main
{
	margin: auto;
}
#bloc_page
{
	margin: auto;
	max-width: 1600px;
	min-width: 340px;
	margin: 0px 5% 0px 5%;
}
.conteneur_sec1
{
	display: flex;
	width: auto;
	justify-content: space-between;
}
.sec2_texte
{
	max-width: 1280px;
}
.conteneur_sec2
{
	width: 100%;
}
.conteneur_head
{
	width: 100%;
}
.conteneur_head2
{
	width: 100%;
	margin-bottom: 20px;
}
/*lehead*/

	.bloc_logonav
	{
		height: 80px;
		display: flex;
		margin: auto;
		flex-wrap: wrap;
	}
	.logo_logonav
	{
		height: 80px;
		margin-top: 10px;
		
	}
	.bloc_nav
	{
		display: flex;
		margin-left: auto;
		height: 60px;
	}
	.nav_heb
	{
		height: 60px;
		width: 135px;
		text-align: center;
		font-family: Raleway;
		font-size: 0.85em;
		padding-top: 30px;
		border: 2px white solid;
	}
	.nav_act
	{
		height: 60px;
		width: 135px;
		text-align: center;
		font-family: Raleway;
		font-size: 0.85em;
		padding-top: 30px;
		border: 2px white solid;
	}
	.nav_sins
	{
		height: 60px;
		width: 130px;
		text-align: center;
		font-family: Raleway;
		font-size: 0.85em;
		padding-top: 30px;
		border: 2px white solid;
	}
	.nav_heb:hover
	{
		color: #0065FC;
		border-top: 2px #0065FC solid;
	}
	.nav_act:hover
	{
		color: #0065FC;
		border-top: 2px #0065FC solid;
	}
	.nav_sins
	{
		color: #0065FC;
		font-weight: bold;
	}
	.nav_sins:hover
	{
		border-top: 2px #0065FC solid;
	}
	.bloc_en_tete
	{
		margin-bottom: 14px;
	}
	.trouv
	{
		font-family: Raleway;
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 6px;
	}
	.en
	{
		font-family: Raleway;
		font-size: 0.9em;
	}
	.bloc_search
	{
		border: 1px silver solid;
		display: flex;
		width: 370px;
		height: 48px;
		border-radius: 16px;
	}
	.logsearch
	{
		width: 46px;
		border-bottom-left-radius: 16px;
		border-top-left-radius: 16px;
		justify-content: center;
		background-color: #F2F2F2;
	}
	.point
	{
		margin: 15px 10px 10px 16px;
		font-size: 0.9em;
		background-color: #F2F2F2;
	}
	.search
	{
		width: 206px;
	}
	.for
	{
		width: 200px;
		height: 40px;
		margin-top: 5px;
		color: white;
	}
	#recherches
	{
		border: 1px white solid;
		height: 40px;
		font-family: Raleway;
		font-size: 1em;
		font-weight: bold;
	}
	.rechercher
	{
		width: 118px;
		border-top-right-radius: 16px;
		border-bottom-right-radius: 16px;
		background-color: #0065FC;
	}
	.recherche
	{
		margin-top: 14px;
		margin-left: 10px;
		width: 80%;
		font-family: Raleway;
		font-size: 1em;
		font-weight: bold;
	}
	.mot
	{
		color: white;
	}
	.loupe
	{
		display: none;
	}
	.bloc_filtres
	{
		font-family: Raleway;
		width: 834px;
		height: 44px;
		display: flex;
		margin-top: 26px;
		margin-bottom: 25px;
	}
	.fil
	{
		margin-right: 24px;
	}
	.fils
	{
		margin-top: 12px;
	}
	.billet, .enfant, .coeur, .chien
	{
		margin: 12px 12px 12px 12px;
		color: #0065FC;
	}
	.eco
	{
		border: 2px silver solid;
		width: 171px;
		margin-right: 24px;
		display: flex;
		border-radius: 22px;
		height: 40px;
	}
	.eco:hover, .fam:hover, .rom:hover, .ani:hover
	{
		box-shadow: 3px 3px 24px silver;
	}
	.ronde
	{
		width: 40px;
		border-radius: 40px;
		margin-right: 12px;
		background-color: #DEEBFF;
	}
	.ecos
	{
		width: 100px;
		margin-top: 12px;
	}
	.fam
	{
		border: 2px silver solid;
		width: 132px;
		margin-right: 24px;
		display: flex;
		border-radius: 22px;
		height: 40px;
	}
	.rondf
	{
		width: 40px;
		border-radius: 40px;
		margin-right: 12px;
		background-color: #DEEBFF;
	}
	.fams
	{
		width: 60px;
		margin-top: 12px;
	}
	.rom
	{
		border: 2px silver solid;
		width: 162px;
		margin-right: 24px;
		display: flex;
		border-radius: 22px;
		height: 40px;
	}
	.rondr
	{
		width: 40px;
		border-radius: 40px;
		margin-right: 12px;
		background-color: #DEEBFF;
	}
	.roms
	{
		width: 100px;
		margin-top: 12px;
	}
	.ani
	{
		border: 2px silver solid;
		width: 213px;
		display: flex;
		border-radius: 22px;
		height: 40px;
	}
	.ronda
	{
		width: 40px;
		border-radius: 40px;
		margin-right: 12px;
		background-color: #DEEBFF;
	}
	.anis
	{
		width: 150px;
		margin-top: 12px;
	}
	.bloc_info
	{
		display: flex;
	}
	.case
	{
		width: 24px;
		margin-right: 5px;
	}
	.ii
	{
		border: 1px silver solid;
		width: 20px;
		height: 20px;
		margin-top: 10px;
		border-radius: 20px;
	}
	.i
	{
		width: 5px;
		height: 13px;
		color: #0065FC;
		font-size: 0.6em;
		margin: auto;
		margin-top: 4px;
	}
	.phrase
	{
		width: 700px;
	}


/*Les hebergements_images de fonds*/
	.Aubergela
	{
		background-image: url("images/Hebergements/Auberge_La_Cannebiere_M.jpg");
	}
	.Hotelde
	{
		background-image: url("images/Hebergements/Hotel_de_la_mer_M.jpg");
	}
	.Hoteldu
	{
		background-image: url("images/Hebergements/Hotel_du_port_M.jpg");
	}
	.Aubergele
	{
		background-image: url("images/Hebergements/Auberge_Le_Panier_M.jpg");
	}
	.Hotelles
	{
		background-image: url("images/Hebergements/Hotel_Les_mouettes_M.jpg");
	}
	.Hotelchez
	{
		background-image: url("images/Hebergements/Hotel_chez_Amina_M.jpg");
	}
	.Hotellesol
	{
		background-image: url("images/Hebergements/Hotel_Le_soleil_du_matin_M.jpg");
	}
	.Aucoeur
	{
		background-image: url("images/Hebergements/Au_coeur_de_l'eau_Chambres_d'hotes_M.jpg");
	}
	.Hoteltout
	{
		background-image: url("images/Hebergements/Hotel_Tout bleu_et_Blanc_M.jpg");
	}

#bloc_lesplus, #sec1_heberg
{
	background-color: #F2F2F2;
	border: 5px #F2F2F2 solid;
	border-radius: 20px;
}
#sec1_heberg
{
	width: 850px;
	height: 600px;
}
#bloc_lesplus
{
	width: 450px;
	height: 600px;
	margin-right: 150px; 
}

/*Section 1 - Hebergements*/
	
	.textheb
	{
		width: 92%;
		text-align: left;
		font-family: Raleway;
		margin-left: 3%;
		margin-bottom: 30px;
	}
	.textheb1
	{
		margin-top: 35px;
		font-weight: bold;
		font-size: 1.2em;
	}
	.textheb2
	{
		margin-top: 30px;
		font-size: 1.3em;
	}
	#bloc_images1, #bloc_images2
	{
		display:flex;
		margin: auto;
		width: 92%;
	}
	#bloc_images1
	{
		margin-top: 7px;
		margin-bottom: 8px;
	}
	#bloc_images2
	{
		margin-top: 20px;
	}
	.Aubergelas, .Hoteldus, .Hotelless
	{
		background-color: white;
		border: 3px white solid;
		border-radius: 20px;
		width: 236px;
		height:	190px;
		box-shadow: 1px 1px 12px silver;
		margin-right: 20px;
	}
	.Hoteldes, .Aubergeles, .Hotelchezs
	{
		background-color: white;
		border: 3px white solid;
		border-radius: 20px;
		width: 236px;
		height:	190px;
		box-shadow: 1px 1px 12px silver;
		margin-right: 20px;
	}
	.Aubergela, .Hotelde, .Hoteldu, .Aubergele, .Hotelles, .Hotelchez
	{
		border-top-left-radius: 18px;
		border-top-right-radius: 18px; 
		width: 232px;
		height: 114px;
		margin-top: 3px;
		margin-left: 2px;
	}
	.desc1
	{
		height: 68px;
		width: 87%;
		text-align: left;
		color: black;
		font-family: Raleway;
		justify-content: center;
		margin-top: 7px;
	}
	.titledesc
	{
		margin-bottom: 3px;
		font-size: 0.95em;
		font-weight: bold;
	}
	.desc
	{
		font-size: 0.8em;
		margin-bottom: 5px;
	}
	.note
	{
		display: flex;
		font-size: 0.7em;
	}
	.starfull
	{
		color: #0065FC;
	}
	.star
	{
		color: #F2F2F2;
	}

/*Section 1 - Les plus populaires*/
	
	.textlog
	{
		display: flex;
		width: 85%;
		height: 80px;
		justify-content: flex-end;
		justify-content: space-between;
		margin: auto;
	}
	.textles
	{
		width: 70%;
		text-align: left;
		margin-top: 20px;
		font-weight: bold;
		font-size: 1.2em;
		font-family: Raleway;
	}
	.courbe
	{
		font-size: 1.4em;
		margin: 32px 2px;
	}
	.bloc_images3
	{
		width: 85%;
		margin: auto;
	}
	.Hotellesols, .Aucoeurs, .Hoteltouts
	{
		background-color: white;
		border: 3px white solid;
		border-radius: 20px;
		width: 100%;
		height:	137px;
		box-shadow: 1px 1px 20px silver;
		display: flex;
	}
	.Hotellesol, .Aucoeur, .Hoteltout
	{
		border-top-left-radius: 18px;
		border-bottom-left-radius: 18px; 
		width: 138px;
		height: 134px;
		margin-top: 2px;
		margin-left: 3px;
	}
	.Hotellesols
	{
		margin-top: 5px;
	} 
	.Aucoeurs
	{
		margin-top: 32px;
	}
	.Hoteltouts
	{
		margin-top: 32px;
	}
	.desc1l
	{
		width: 188px;
		height: 125px;
		text-align: left;
		color: black;
		font-family: Raleway;
		justify-content: center;
		margin-top: 10px;
		margin-left: 5px;
	}
	.titledesc1
	{
		margin-bottom: 6px;
		font-size: 0.95em;
		font-weight: bold;
		width: 75%;
	}
	.desc2
	{
		font-size: 0.8em;
		margin-bottom: 5px;
		width: 75%;
		height: 60px;
	}
	.note1
	{
		display: flex;
		font-size: 0.7em;
	}

/*Section 2 - Activites*/

	.sec2_texte
	{
		width: 90%;
		height: 70px;
		text-align: left;
		font-family: Raleway;
		font-weight: bold;
		font-size: 1.2em;
		margin-top: 50px;
		margin-bottom: 0px;
	}
	.bloc_sec2
	{
		height: 464px;
		display: flex;
		width: 100%;
	}
	.sec21, .sec22
	{
		height: 416px;
		display: flex;
		width: 48%;
	}
	.sec21
	{
		margin-right: 5%;
	}
	.sec2-1, .sec2-2, .sec2-3, .sec2-4
	{
		width: 50%;
		height: 416px;
	}
	.sec2-1
	{
		margin-right: 10%;
	}
	.vieux
	{
		background-color: white;
		border: 3px white solid;
		border-radius: 20px;
		width: 98%;
		height:	408px;
		box-shadow: 2px 2px 16px silver;
	}
	.vieuxs
	{
		background-image: url("images/Activites/Vieux_Port.jpg");
	}
	.fort1
	{
		border: 3px white solid;
		border-radius: 20px;
		width: 97%;
		height: 212px;
		margin-bottom: 40px;
		box-shadow: 2px 2px 16px silver;
	}
	.fort1s
	{
		background-image: url("images/Activites/Fort_de_Pomegues.jpg");
		width: 100%;
		height: 162px;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px; 
	}
	.ile
	{
		border: 3px white solid;
		border-radius: 20px;
		width: 97%;
		height: 150px;
		box-shadow: 2px 2px 16px silver;
	}
	.iles
	{
		background-image: url("images/Activites/Iles_du_Frioul.jpg");
		width: 100%;
		height: 98px;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px; 
	}
	.sec2-3
	{
		margin-right: 10%;
	}
	.parc
	{
		border: 3px white solid;
		border-radius: 20px;
		width: 98%;
		height: 408px;
		box-shadow: 2px 2px 16px silver;
	}
	.parcs
	{
		background-image: url("images/Activites/Parc_National_des_Calanques.jpg");
	}
	.notre1
	{
		border: 3px white solid;
		border-radius: 20px;
		width: 98%;
		height: 174px;
		margin-bottom: 38px;
		box-shadow: 2px 2px 16px silver;
	}
	.notre1s
	{
		background-image: url("images/Activites/Notre-Dame-de-la-Garde.jpg");
		height: 125px;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px; 
	}
	.parcl
	{
		border: 3px white solid;
		border-radius: 20px;
		width: 98%;
		height: 190px;
		box-shadow: 2px 2px 16px silver;
	}
	.parcls
	{
		background-image: url("images/Activites/Parc_Longchamp.jpg");
		height: 138px;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px; 
	}
	.vieuxs, .parcs 
	{
		width: 100%;
		height: 356px;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;
	}
	.descfin
	{
		font-family: Raleway;
		font-weight: bold;
		margin-left: 6%;
		margin-top: 18px;
		font-size: 0.88em;
	}

/*Footer*/

	.footer
	{
		background-color: #F2F2F2;
		display: flex;
		justify-content: center;
		width: 95%;
		height: 192px;
		margin: auto;
		min-width: 340px;
	}
	.propos, .Nos, .Assist
	{
		width: 30%;
		text-align: left;
		font-family: Raleway;
		font-size: 1.2em;
	}
	.prop, .no, .assi
	{
		width: 100%;
		text-align: left;
		font-size: 0.79em;
	}

p
{
	font-size: 0.9em;
	font-family: Raleway;
}
h1
{
	font-size: 1.1em;
}
h2
{
	font-size: 0.8em;
}
a
{
	text-decoration: none;
	color: black;
}
@media all and (min-width: 1650px)
{
	main
	{
		margin:	auto;
	}
	#bloc_page
	{
		margin: auto;
		width: 1450px;
	}
	.footer
	{
		width: 1500px;
	}
	.bloc_images3
	{
		width: 340px;
	}
	.bloc_sec2
	{
		max-width: 1450px;
	}
	#sec1_heberg
	{
		width: 66%;
	}
	#bloc_lesplus
	{
		width: 30%;
		margin-left: 30px;
		margin-right: 0px;
	}
}
@media all and (max-width: 1649px)
{
	#sec1_heberg
	{
		width: 66%;
	}
	#bloc_lesplus
	{
		width: 30%;
		margin-left: 30px;
		margin-right: 0px;
	}      
}
@media all and (max-width: 1406px)
{
	#bloc_images1, #bloc_images2
	{
		flex-wrap: wrap;
		margin-left: 5%;
		justify-content: center;
	}
	#sec1_heberg
	{
		height: 1020px;
		width: 60%;
	}
	#bloc_lesplus
	{
		width: 35%;
	}      
	.Aubergelas, .Hoteldes
	{
		margin-bottom: 20px;
	}
}
@media all and (max-width: 1373px)
{
	.desc2
	{
		height: 60px;
	}
	.titledesc1
	{
		width: 160px;
	}    
}
@media all and (max-width: 1352px)
{
	.nav1
	{
		margin-left: auto;
	}
}
@media all and (max-width: 1201px)
{
	#sec1_heberg
	{
		height: 1450px;
	}
	.Hoteldus, .Aubergeles
	{
		margin-bottom: 20px;
	}
	.conteneur_sec1
	{
		justify-content: center;
	}	      
}
@media all and (max-width: 1200px)
{
	#bloc_lesplus
	{
		width: 500px;
	}
	#sec1_heberg
	{
		width: 600px;
	}
}
@media all and (max-width: 933px)
{
	.bloc_filtres
	{
		flex-wrap: wrap;
		width: auto;
		height: 100px;
	}
}
@media all and (max-width: 800px)
{
	.conteneur_sec2
	{
		height: 700px;
	}
	.sec21, .sec22
	{
		flex-wrap: wrap;
	}
	.sec2-1, .sec2-2, .sec2-3, .sec2-4
	{
		height: 200px;
	}
	.vieuxs, .parcs, .fort1s, .iles, .notre1s, .parcls
	{
		height: 135px;
		width: 320px;
	}
	.vieuxs
	{
		background-image: url("images/Activites/Vieux_Port_M.jpg");
	}
	.fort1s
	{
		background-image: url("images/Activites/Fort_de_Pomegues_M.jpg");
	}
	.iles
	{
		background-image: url("images/Activites/Iles_du_Frioul_M.jpg");
	}
	.parcs
	{
		background-image: url("images/Activites/Parc_National_des_Calanques_M.jpg");
	}
	.notre1s
	{
		background-image: url("images/Activites/Notre-Dame-de-la-Garde_M.jpg");
	}
	.parcls
	{
		background-image: url("images/Activites/Parc_Longchamp_M.jpg");
	}
	.vieux
	{
		width: 320px;
		height: 180px;
	}
	.fort1
	{
		width: 320px;
		height: 170px;
	}
	.ile
	{
		width: 320px;
		height: 170px;
	}
	.parc
	{
		width: 320px;
		height: 180px;
	}
	.notre1
	{
		width: 320px;
		height: 170px;
	}
	.parcl
	{
		width: 320px;
		height: 170px;
	}
	.sec2_texte
	{
		margin: auto;
		width: 300px;
		text-align: center;
	}
}
@media all and (max-width: 780px)
{
	#bloc_page
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	.conteneur_sec1
	{
		flex-wrap: wrap;
	}
	.footer
	{
		flex-direction: column;
		height:450px;
		width: 100%;
	}
	.propos, .Nos, .Assist
	{
		width: auto;
	}
	#sec1_heberg
	{
		width: auto;
		height: 1000px;
		order: 2;
		background-color: white;
		border: 5px white solid;
	}
	#bloc_lesplus
	{
		width: 100%;
		order: 1;
		margin: auto;
		border-radius: 0px;
	}
	.bloc_images3
	{
		margin: auto;
		justify-content: center;
		width: 85%;
	}
	.textlog
	{
		margin: auto;
	}
	.Hotellesols, .Aucoeurs, .Hoteltouts
	{
		width: 310px;
		margin: auto;
	}
	.Hotellesols, .Aucoeurs
	{
		margin-bottom: 30px;
	}
	.Aubergelas, .Hoteldus, .Hoteldes, .Aubergeles
	{
		margin-bottom: 20px;
	}
	#bloc_images1, #bloc_images2
	{
		justify-content: center;
	}
	.propos, .Nos, .Assist
	{
		margin-left: 20px;
	}
	.conteneur_head2
	{
		width: 84%;
		margin: auto;
	}
	.sec21
	{
		margin-left: 3%;
	}
}
@media all and (max-width: 755px)
{
	.titledesc1
	{
		width:85%;
	}
}
@media all and (max-width: 754px)
{
	#sec1_heberg
	{
		height: 1000px;
	}
}
@media all and (max-width: 750px)
{
	.conteneur_sec2
	{
		height: 1350px;
	}
	.bloc_sec2
	{
		flex-direction: column;
	}
	.sec21, .sec22
	{
		margin: auto;
		width: 330px;
	}
	.sec21
	{
		margin-bottom: 220px;
	}
	.sec2-1, .sec2-2, .sec2-3, .sec2-4
	{
		width: 100%;
	}
	.sec2-1, .sec2-3
	{
		margin-bottom: 10px;
	}
	.sec2_texte
	{
		margin-bottom: 10px;
	}
	.sec2-1
	{
		margin-bottom: 20px;
	}
	.sec2-3
	{
		margin-bottom: 20px;
	}
}
@media all and (max-width: 593px)
{
	#sec1_heberg
	{
		height: 1460px;
		justify-content: center;
	}
	.Aubergelas, .Hoteldus, .Hotelless, .Hoteldes, .Aubergeles, .Hotelchezs
	{
		margin: auto;
		margin-bottom: 20px;
		width: 98%;
	}
	.Hotelchezs
	{
		margin: auto;
	}
	.Aubergela, .Hoteldu, .Hotelles, .Hotelde, .Aubergele, .Hotelchez
	{
		width: 298px;
	}
	#bloc_images1, #bloc_images2
	{
		flex-direction: column;
		margin: auto;
		width: 308px;
	}
	.sec2_texte
	{
		width: 330px;
		text-align: left;
	}
	.Aubergela
	{
		background-image: url("images/Hebergements/Auberge_La_Cannebiere.jpg");
	}
	.Hotelde
	{
		background-image: url("images/Hebergements/Hotel_de_la_mer.jpg");
	}
	.Hoteldu
	{
		background-image: url("images/Hebergements/Hotel_du_port.jpg");
	}
	.Aubergele
	{
		background-image: url("images/Hebergements/Auberge_Le_Panier.jpg");
	}
	.Hotelles
	{
		background-image: url("images/Hebergements/Hotel_Les_mouettes.jpg");
	}
	.Hotelchez
	{
		background-image: url("images/Hebergements/Hotel_chez_Amina.jpg");
	}
}
@media all and (max-width: 540px)
{
	.bloc_logonav
	{
		height: 150px;
	}
	.logo_logonav
	{
		height: 30px;
	}
	.bloc_nav
	{
		order: 2;
		width: auto;
		margin: auto;
	}
	.nav_sins
	{
		order: 1;
		margin-left: auto;
		height: 30px;
	}
	.nav_sins:hover
	{
		border-top: none;

	}
	.nav_heb, .nav_act
	{
		width: 49vw;
		height: 30px;
		border-bottom: 2px grey solid;
	}
	.nav_heb:hover, .nav_act:hover
	{
		border-top: none;
		border-bottom: 2px #0065FC solid;
	}
}
@media all and (max-width: 515px)
{
	.bloc_filtres
	{
		height: 180px;
	}
	.fil
	{
		height: 50px;
	}
}
@media all and (max-width: 420px)
{
	.bloc_search
	{
		width: 300px;
	}
	.rechercher
	{
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.mot
	{
		display: none;
	}
	.loupe
	{
		display: unset;
		margin-left: 10px;		
		color: white;
		font-size: 1.2em
	}
	.fil
	{
		margin-right: 200px;
	}
	.eco, .fam, .rom, .ani
	{
		margin-bottom: 10px;
	}
	.bloc_filtres
	{
		height: 240px;
	}
}
@media all and (max-width: 400px)
{
	.Hotellesols, .Aucoeurs, .Hoteltouts
	{
		width: 98%;
	}
	.bloc_images3
	{
		width: 330px;
		margin: auto;
	}
	.textheb
	{
		width: 330px;
		margin: auto;
	}
	#bloc_images1, #bloc_images2
	{
		margin: auto;
		width: 330px;
	}
	.Aubergela, .Hoteldu, .Hotelles, .Hotelde, .Aubergele, .Hotelchez
	{
		width: 99%;
	}
	.Aubergelas, .Hoteldus, .Hotelless, .Hoteldes, .Aubergeles, .Hotelchezs
	{
		width: 98%;
	}
}
@media all and (max-width: 351px)
{
	.titledesc1
	{
		width:90%;
	}
}
@media all and (max-width: 340px)
{
	.nav_heb, .nav_act
	{
		width: 166px;
		height: 30px;
		border-bottom: 2px grey solid;
	}
}

